<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo manager</title>
  <meta name="csrf-token" content="<%= csrfToken %>">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
  <div class="grid grid-cols-6">
    <div class="col-start-3 col-span-2 ">
      <%- include('header.ejs') %>
        <h1 class="py-4">Login</h1>
        <form action="/session" method="post">
          <div class="py-3">
            <label for="email">Email</label>
            <input required type="email" name="email"
              class="border border-black-500 text-black-800 rounded p-2 text-bg-primary text-gray-900 w-full rounded p-2">
            <input required type="hidden" name="_csrf" value="<%= csrfToken %>">
          </div>

          <div class="py-3">
            <label for="password">Password</label>
            <input required type="password" name="password"
              class="border border-black-300 text-black-900 rounded p-3 w-full">
          </div>
          <div class="py-3">
            <button type="submit"
              class="text-white bg-blur-600 hover:bg-blue-800 text-green-600 font-medium rounded px-5 py-2">login</button>
          </div>
        </form>
    </div>
  </div>
</body>

</html>